<div class="font-mono bg-black">
  <div class="container mx-auto bg-black">
    <div class="flex justify-center px-6 my-12">
      <div class="w-full xl:w-3/4 lg:w-11/12 flex">
        <div class="w-full p-5 rounded-lg lg:rounded-l-none bg-black">
          <img [src]="'/assets/images/riddler.jpg'" alt="riddler">
        </div>
      </div>
      <div class="w-full lg:w-1/2 bg-black p-5 rounded-lg lg:rounded-l-none">
        <h1 class="pt-4 text-2xl text-green-600 text-center">I am thinking of a number between 1 and 100...</h1>
        <div class="px-8 pt-20 pb-8 mb-4 bg-black rounded">
          <div class="mx-20">
            <h3 class="text-green-600 pt-5 pb-5">Please Enter Guess Below</h3>
            <input class="shadow appearance-none border rounded py-2 px-3 text-grey-darker" type="text" [(ngModel)]="userGuess">
            <h3>Player Guesses: {{ userGuess }}</h3>
          </div>
          <div class="items-center ml-32">
            <button class="bg-green-500 hover:bg-green-500 text-white font-semibold py-2 px-4 border-b-4 border-green-700 hover:border-blue-500 rounded" (click)="playGame()">Submit Guess</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


